.container {
  display: flex;
  text-align: left;
  justify-content: center;
  font-size: 0.9rem;
}

.disclaimer p {
  font-size: 0.9rem;
}

@media only screen and (max-width: 600px) {
  .disclaimer {
    margin-top: 2rem;
  }
  .disclaimer p {
    font-size: 0.5rem;
  }
  .container {
    display: flex;
    padding: 0;

    font-size: 0.5rem;
  }
}
