.header {
  background-color: #e9f1f7;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem 0 1rem;
}

.header ul {
  display: flex;
  list-style: none;
}

.header li {
  margin: 0 1rem;
  width: 5rem;
}

.header a:hover,
.header a:active,
.header a.active {
  color: #3f88c5;
  padding-bottom: 0.25rem;
  border-bottom: 4px solid white;
}

@media only screen and (max-width: 600px) {
  .header {
    display: flex;
    flex-direction: column;
  }
}
