form {
  width: auto;
  height: 3rem;
}

form input {
  width: 15rem;
}

.toDoText {
  overflow-wrap: break-word;
}

.toDoList {
  display: flex;
  flex-direction: column;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
  padding: 1rem;
  height: 100%;
  margin: auto;
  width: auto;
}

.toDoItem {
  font-size: small;
  box-shadow: 0 1px 1px -1px gray;
  display: flex;
  flex-direction: column;
}

.toDoButtonsContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem;
  font-size: 0.65rem;
}

button {
  background-color: #e9f1f7;
  border: none;
  border-radius: 1rem;
  padding: 0.25rem;
  text-align: center;
  text-decoration: none;

  font-size: 0.65rem;
  margin: 0.5rem;
}

button:active {
  background-color: #e9f1f7;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
  transform: translateY(4px);
}

@media only screen and (max-width: 600px) {
  form input {
    width: auto;
  }
  .toDoList {
    margin-top: 1rem;
    width: 15rem;
    height: 100%;
  }
}
