.card {
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
  width: 85%;
  height: 50rem;
  margin: 1.5rem;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 8rem;
  overflow-x: hidden;
  overflow-y: auto;
}
