.close_button {
  padding: 1rem;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
  border-radius: 1rem;
  background: transparent;
  margin: 0.5rem;
  width: auto;
  position: absolute;
  float: right;
  top: 1rem;
  right: 1rem;
}

.close_button:hover,
.close_button:active {
  background-color: lightpink;
  color: white;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}
