.contentTitle {
  box-shadow: 0 1px 1px -1px gray;
}

.card {
  margin-top: 2rem;
}

.content {
  display: flex;
  flex-direction: column;
}

.content p,
small {
  margin-left: 1.5rem;
}

.content li {
  padding-top: 0.75rem;
}

.content ol li {
  margin-top: 1rem;
}

.bottomContent {
  display: flex;
  justify-content: space-around;
}

.notes p {
  margin-left: 3.5rem;
}

iframe {
  border-radius: 25px;
}

.btn {
  background: transparent;
  border: 0.15rem solid black;
  font-size: 0.75rem;
  letter-spacing: 0.2rem;
  padding: 1rem;
  text-transform: uppercase;
  cursor: pointer;
  margin: 2rem 0 2rem 0;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

.btn:hover {
  background-color: lightpink;
  color: white;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

@media only screen and (max-width: 600px) {
  .bottomContent {
    display: flex;
    flex-direction: column;
  }
  .btn {
    margin: 0.5rem 0 0.5rem 0;
  }
}
